[Unit]
Description=Neewer Light Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/neewerctl deamon run -d /dev/ttyUSB0
Restart=always
User=root

[Install]
WantedBy=multi-user.target


